Django>=5.2,<5.3
argon2-cffi>=23.1,<26
cryptography>=44,<47
dj-database-url>=2.3,<3
django-redis>=5.4,<6
gunicorn>=23,<24
Pillow>=11,<13
pillow-heif>=0.21,<2
psycopg[binary]>=3.2,<4
whitenoise>=6.8,<7
